# User Testing Report

User testing was conducted by Amy Brown on Tuesday, October 22 2013, between the times of 3:00pm and {end time} with the following participants:

- Ashley Edmunson
- Cassie Slack
- Dima Badawi

## Tasks

1. Open up the Navigation in Mobile
2. Flip Through the Banner
3. Filter search to Baked Desserts

---

## Individual Results & Observations

### Ashley Edmunson

- Opened nav easily in mobile.
- Found banner easy to flip through using the red squares, didn't use the side toggles (arrows needed)
- She had troubles getting to the Baked Desserts page.
- Tried to use the search bar to get to baked desserts instead of the radio button.
- Used the nav to try and find categories.


### Cassie Slack

- Opened nav easily in mobile.
- Found banner easy to flip through
- Easily located the Baked Desserts section

### Dima Badawi

- Opened nav easily in mobile.
- Found banner easy to flip through
- She had troubles getting to the Baked Desserts page.
- Had zero ideas how to get to baked desserts


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- need to add a "Categories" menu item so that users can get there instead of using the side bar
- need to activate search menu

### Serious, Causes Frustration, May Hinder Completion

- Nothing to report

### Minor, Annoying, Won’t Hinder Completion

- need to add arrows to the banner for side scrolling
