<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Dessert Recipies · Find hundreds of dessert recipes for all ages</title>
    <link href="css/general.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DESSERTs</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	
	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/slide1.jpg" alt="First slide">
		  <div class="container">
            <div class="carousel-caption">
              <h2>Desserts Early Riser.</h2>
              <p>Have a flakey light weight dessert for a day starter. Served best with a hot, steaming cup of coffee!</p>
            </div>
          </div>
		  
          <div class="container">  
          </div>
        </div>
        <div class="item">
          <img src="img/slide2.jpg"  alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Desserts for the Healthy.</h2>
              <p>Sweet treats that are low calorie and healthy so that you can still enjoy a snack without the worry!</p>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="img/slide3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>One more for good measure.</h2>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
	<!-- /.carousel -->

   
		
   
   <!-- container -->
	 <div class="body-content">
	 <div class="legend">
	<h3>What are you looking for?</h3>
	<input type="search">
	
	
	<div class="advanced-search">
	<h4>Type of Dessert:</h4>
	<ul>
	<li><input type="radio" name="type"> Frozen Desserts</li>
	<li><input type="radio" name="type"> Baked Desserts</li>
	<li><input type="radio" name="type"> Liqueur Based</li>
	<li><input type="radio" name="type"> Fruit Based</li>
	<li><input type="radio" name="type"> Seasonal</li>
	<li><input type="radio" name="type"> Low Calorie</li>
	<li><input type="radio" name="type"> Peanut Free</li>
	<li><input type="radio" name="type"> Lactose Free</li>
	</ul>
	<h4>Difficulty:</h4>
	<ul>
	<li><input type="radio" name="difficulty"> Beginner</li>
	<li><input type="radio" name="difficulty"> Intermediate</li>
	<li><input type="radio" name="difficulty"> Advanced</li>
	</ul>
	<h4>Time:</h4>
	<ul>
	<li><input type="radio" name="time"> 15-20min</li>
	<li><input type="radio" name="time"> 20-40min</li>
	<li><input type="radio" name="time"> 40-60min</li>
	<li><input type="radio" name="time"> 1-3h</li>
	<li><input type="radio" name="time"> 4 or more hours</li>
	</ul>
	</div>
	</div>
	
{{content}}
	 
	 </div>
	 
	 
	 
	

	
	<!-- /.container -->
	
	<footer>
	© Copyright Desserts 2013
	</footer>
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../../Week 5/Amazing Web things/bootstrap-3.0.0/assets/js/jquery.js"></script>
    <script src="../../Week 5/Amazing Web things/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
