<!DOCTYPE html>
<html lang="en">
<head>
<title>{{page.title}}</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">

<script src="{{site.baseurl}}/js/modernizr.js"></script> 

<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<meta name="description" content="Thousands of Dessert Recipes">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Amy Brown">

<!--facebook-->
<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title}}">
<meta property="og:url" content="http://amuelb.github.io/{{site.basurl}}{{page.url}}">
<!--img size - min:200x200; recommended: 1500x1500; -->
<meta property="og:image" content="http://amuelb.github.io/desserts.jpg">
<meta property="og:description" content="Thousands of Dessert Recipes">
<meta property="site_name" content="Desserts">

<!-- twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="{{page.title}}">
<meta property="twitter:url" content="http://amuelb.github.io/{{site.basurl}}{{page.url}}">
<!--img size - recommended: 120x120; -->
<meta property="twitter:image" content="http://amuelb.github.io/desserts.jpg">
<meta property="twitter:description" content="Thousands of Dessert Recipes">
</head>

<body id="top">

<!-- Skip Links
    ================================================== -->
<ul class="skiplinks">
	<li><a href="#main">Skip to primary content</a></li>
	<li><a href="#complementary">Skip to secondary content</a></li>
	<li><a href="#navigation">Skip to navigation content</a></li>
	<li><a href="#comments">Skip to comments section</a></li>
	<li><a href="#search">Skip to search bar</a></li>
</ul>
<!--/skiplinks-->




<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="{{site.baseurl}}/index.html">DESSERTs</a> </div>
		<div class="collapse navbar-collapse">
			
			<ul class="nav navbar-nav" role="navigation" id="navigation">
				<li class="active"><a href="{{site.baseurl}}/index.html">Home</a></li>
				<li><a href="{{site.baseurl}}/baked-desserts.html">Categories</a></li>
				<li><a href="{{site.baseurl}}/cheesecake.html">Post a Recipe</a></li>
			</ul>
			
		</div>
		<!--/.nav-collapse --> 
	</div>
</div>


{% if page.show-404-carousel == true %}


<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide"> 
	
	<div class="carousel-inner">
		<div class="item active"> <img src="img/40.jpg" alt="First slide">
			<div class="container">
				<div class="carousel-caption-black">
					<h2>Not Found</h2>
					<p>This page looked so delicious</p>
					<p>it has been eaten by the internet!</p>
				</div>
			</div>
			<div class="container"> </div>
		</div>
	</div> 
</div>
<!-- /.carousel -->


{% else %}


<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide"> 
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active"> <img src="img/slide1.jpg" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h2>Desserts Early Riser.</h2>
					<p>Have a flaky light weight dessert for a day starter.</p>
					<p>Served best with a hot, steaming cup of coffee!</p>
				</div>
			</div>
			<div class="container"> </div>
		</div>
		<div class="item"> <img src="img/slide2.jpg"  alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<h2>Desserts for the Healthy.</h2>
					<p>Enjoy some sweet treats that are low calorie and healthy.</p>
					<p>All the same good tastes without hidden fats!</p>
				</div>
			</div>
		</div>
		<div class="item"> <img src="img/slide3.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
					<h2>desserts for Occasion</h2>
					<p>Making sure you bring the right dessert to the right event.</p>
					<p>Large portioned desserts are best for feeding large groups of people.</p>
				</div>
			</div>
		</div>
	</div> 
</div>
<!-- /.carousel -->

{% endif %}



<!-- Search Nav
    ================================================== -->

	<form class="center" role="search" id="search">
		<h3>What are you looking for?</h3>
		<input type="search" title="Search">
		
	</form>
	<div class="grid">
	<div class="unit unit-s-1 unit-m-hidden unit-l-hidden">
		<div class="unit-spacer">
			<section class="ac-container">
				
					<form>
						<input id="ac-1" name="accordion-1" type="checkbox" />
						<label for="ac-1">Search by Type</label>
					
					<article class="ac-large">
						<ul class="type-list">
							<li><a href="{{site.baseurl}}/baked-desserts.html">Frozen Desserts</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Baked Desserts</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Liqueur Based</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Fruit Based</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Seasonal</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Low Calorie</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Peanut Free</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Lactose Free</a></li>
						</ul>
					</article>
					</form>
				
				<form>
					<input id="ac-2" name="accordion-1" type="checkbox" />
					<label for="ac-2">Search by Skill Level</label>
					<article class="ac-small">
						<ul class="type-list">
							<li><a href="{{site.baseurl}}/baked-desserts.html">Beginner</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Intermediate</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">Advanced</a></li>
						</ul>
					</article>
				</form>
				<form>
					<input id="ac-3" name="accordion-1" type="checkbox" />
					<label for="ac-3">Search by Time</label>
					<article class="ac-medium">
						<ul class="type-list">
							<li><a href="{{site.baseurl}}/baked-desserts.html">15-20min</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">20-40min</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">40-60min</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">1-3h</a></li>
							<li><a href="{{site.baseurl}}/baked-desserts.html">4 or more hours</a></li>
						</ul>
					</article>
				</form>
			</section>
		</div>
	</div>
	<div class="unit unit-s-hidden legend">
		<div class="unit-spacer" role="search" id="search">
			<form>
			<h3>What are you looking for?</h3>
			<input type="search" title="imput search item">
			</form>
			<div class="advanced-search">
				<h4>Type of Dessert:</h4>
				<ul>
					<li>
						<input type="radio" name="type" id="frozen">
						<label for="frozen">Frozen Desserts</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';" {% if page.url contains 'baked-desserts' %}checked{% endif %} id="baked">
						<label for="baked">Baked Desserts</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="liqueur">
						<label for="liqueur">Liqueur Based</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="fruit">
						<label for="fruit">Fruit Based</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="seasonal">
						<label for="seasonal">Seasonal</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="low">
						<label for="low">Low Calorie</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="peanut">
						<label for="peanut">Peanut Free</label></li>
					<li>
						<input type="radio" name="type" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="lactose">
						<label for="lactose">Lactose Free</label></li>
				</ul>
				<h4>Difficulty:</h4>
				<ul>
					<li>
						<input type="radio" name="difficulty" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="beginner">
						<label for="beginner">Beginner</label></li>
					<li>
						<input type="radio" name="difficulty" onclick="document.location='{{site.baseurl}}/baked-desserts.html';" id="intermediate">
						<label for="intermediate">Intermediate</label></li>
					<li>
						<input type="radio" name="difficulty" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="advanced">
						<label for="advanced">Advanced</label></li>
				</ul>
				<h4>Time:</h4>
				<ul>
					<li>
						<input type="radio" name="time" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="15-20">
						<label for="15-20">15-20min</label></li>
					<li>
						<input type="radio" name="time" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="20-40">
						<label for="20-40">20-40min</label></li>
					<li>
						<input type="radio" name="time" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="40-60">
						<label for="40-60">40-60min</label></li>
					<li>
						<input type="radio" name="time" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="1-3">
						<label for="1-3">1-3h</label></li>
					<li>
						<input type="radio" name="time" onclick="document.location='{{site.baseurl}}/baked-desserts.html';"  id="4-more">
						<label for="4-more">4 or more hours</label></li>
				</ul>
			</div>
		</div>
	</div>

<!-- /searchnav-->


<!-- body content
    ================================================== -->
{{content}}
<!--/bodycontent-->
</div>



<!-- footer
    ================================================== -->
<footer><div class="left"><a href="#top">Top</a></div> © Copyright Desserts 2013 </footer>



<!-- Bootstrap core JavaScript
    ================================================== -->  
<script src="{{site.baseurl}}/js/jquery.js"></script> 
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>


<!-- Google Analytics
    ================================================== -->  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46044211-1', 'amuelb.github.io');
  ga('send', 'pageview');

</script>
</html>
